
/* =========================
   Sidebar
========================= */
.sidebar {
  position: fixed;
  left: -280px;           /* hidden by default */
  top: 0;
  height: 100%;
  width: 280px;
  background: #000000eb;    /* dark navy */
  color: white;
  padding: 24px 16px;
  box-shadow: 5px 0 30px rgba(0,0,0,0.2);
  border-radius: 0 20px 20px 0;
  transition: left 0.3s ease;
  z-index: 1500;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4cc9f0;
}

.close-sidebar {
  font-size: 2rem;
  background: none;
  border: none;
  color: #ffffffaa;
  cursor: pointer;
  transition: 0.2s;
}
.close-sidebar:hover {
  color: #4cc9f0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border-radius: 12px;
  font-weight: 600;
  color: #ffffffaa;
  font-size: 1rem;
  transition: 0.2s;
}
.sidebar-link i {
  stroke-width: 2;
}

.sidebar-link:hover {
  background: #4cc9f0;
  color: #070709;
  transform: translateX(4px);
}

/* Sidebar toggle button (bottom-left corner) */
.sidebar-toggle {
  position: fixed;
  left: 16px;
  bottom: 24px;          /* distance from bottom edge */
  background: #4cc9f0;
  color: #070709;
  border: none;
  border-radius: 12px;
  padding: 10px 14px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1600;
    box-shadow: 0 10px 30px rgba(79,70,229,0.4);
transition: transform 0.2s, box-shadow 0.1s;
}

.sidebar-toggle:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(79,70,229,0.4);
}

/* Shift main layout when sidebar open */
.main-layout.shifted {
  transform: translateX(280px);
  transition: transform 0.3s ease;
}





/*navigation bar styles*/
:root {
  --navy-dark: #070709;
  --navy-mid: #0b1224;
  --accent: #4cc9f0;  /* neon blue */
  --accent-glow: 0 0 18px rgba(76, 201, 240, 0.4);
}

/* Scrollbar hidden */
::-webkit-scrollbar {
    display: none;
}


/* NAVBAR */
.premium-nav {
  background: rgb(6, 9, 14);
  padding: 16px 0;
}

.logo-box {
  width: 40px;
  height: 40px;
  background: var(--accent);
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--accent-glow);
}

.logo-text {
  font-size: 1.4rem;
}

/* Nav links */
.nav-link {
  color: #d9d9d9 !important;
  font-weight: 500;
  transition: 0.2s;
}
.nav-link:hover {
  color: var(--accent) !important;
}

.login-btn {
  border-radius: 8px;
  padding: 6px 16px;
  border: 1px solid #fff;
}
